<!--
 アイコン、ボタン、フォーム 
 http://blog.asial.co.jp/887
 お勉強
 http://dotinstall.com/lessons/basic_twitter_bootstrap_v2 
 -->
<%= copy_icon %>
<h3>mysql のバックアップ時のコマンド</h3>
<br/>
<div class=''>
<span style='color:blue'>SITE: hoge.com<br/>
<span style='color:green'>IpAd: 192.168.100.12<br/>
</div>
<br/>
<div style='text-align:right'>
 <a><i class='icon-edit icon-white'></i>all copy</a>
</div>
<pre style="font-size:15px; font-family: 'Andale Mono', monospace">
tail -f <span style='color:blue'>hoge.com</span>
tail -f <span style='color:blue'>hoge.com</span> <%= copy_icon %>
tail -f <span style='color:blue'>hoge.com</span>
tail -f <span style='color:blue'>hoge.com</span>
scp hoge.txt <span style='color:green'>192.168.100.10:/tmp </span> 
</pre>
